<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/first.css">
</head>
<body>
    <header>
        <div class="banner1">
            <h1>Mon super site</h1>
        <nav>
            <ul>
                <li><a href="#">Tutoriels</a></li>
                <li><a href="#">Exercices</a></li>
                <li><a href="#">Certificats</a></li>
            </ul>
        </nav>
        <form action="">
            <input type="text" placeholder="Rechercher...">
            <button type="submit">Rechercher</button>
        </form>
        </div>
        <div class="banner2">
            <ul>
                <li><a href="#">Tutoriels</a></li>
                <li><a href="#">Exercices</a></li>
                <li><a href="#">Certificats</a></li>
            </ul>
        </div>
    </header>
</body>
</html>